@model List<Movie>

<h1>Filmliste</h1>

<p>
    <a asp-action="Create">Neuen Film anlegen</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Genre</th>
            <th>Veröffentlichung</th>
            <th>Preis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@movie.Genre</td>
                <td>@movie.ReleaseDate.ToString("dd.MM.yyyy")</td>
                <td>@movie.Price €</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@movie.Id"
                    class="btn btn-warning btn-sm">Bearbeiten</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@movie.Id"
                       class="btn btn-info">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@movie.Id"
                       class="btn btn-danger btn-sm">🗑</a>
                </td>
            </tr>
        }
    </tbody>
</table>
